@import url("https://fonts.googleapis.com/css2?family=Fasthand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charm&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");
@import url("./styles/avatar.css");
@import url("./styles/banner.css");
@import url("./styles/bubble.css");
@import url("./styles/cards.css");
@import url("./styles/map.css");

:root {
  --main-chocolate: #742f1a;
  --main-purple: #6f4b4c;
  --main-brown: #ad876c;
  --main-beige: #efd8ad;
  --main-light-brown: #eed6b4;
  --main-grey: #b4ac9c;
  --main-light-grey: #dcd4cc;
  --main-dark--green: #5b594c;
  --main-light--green: #83846a;
  --main-dark: #40352f;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

body p {
  font-family: "Roboto", sans-serif;
}

.content-container {
  min-height: 80vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.index-item1 {
  border-top: 16px solid var(--main-purple);
}

.index-item2 {
  border-top: 8px solid var(--main-brown);
}

.index-item3 {
  border-top: 8px solid var(--main-light-brown);
}
.image-index {
  height: 240px;
  width: auto;
  position: relative;
}

.intro {
  position: relative;
  width: 50%;
  padding: 24px;
}

.pattaya {
  font-family: "Pattaya";
  font-size: 20px;
  font-weight: bold;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}
.charm {
  font-family: "Charm", cursive;
  font-weight: bolder;
}

.josefine {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bolder;
  color: var(--main-chocolate);
}

.navbar-hamburger {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.footer {
  position: relative;
  margin-top: 3rem;
  padding: 1rem;
  background-color: white;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 20px solid var(--main-light-grey);
}

.w-100 {
  width: 100% !important;
  height: 28vh;
}

@media screen and (max-width: 900px) {
  .carousel-container {
    display: block;
  }

  .cards-category {
    display: none;
  }
  .image-index {
    height: 200px;
    margin: 20px;
  }

  .intro {
    width: 100%;
  }

  .image-into {
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  .carousel-container {
    display: none;
  }

  .cards-category {
    display: block;
  }

  .bubble1 {
    left: 108px;
  }
  .bubble2 {
    right: 140px;
  }

  .bubble3 {
    margin-left: 600px;
  }
  .map-container {
    height: "10px";
  }
}

.item-show-container {
  left: auto;
  right: auto;
  display: flex;
  justify-content: space-around;
  gap: 16px;
  flex-wrap: wrap;
}

section {
  width: 80%;
  margin: 0 auto;
  line-height: 0;
  position: relative;
}
section img {
  width: 100%;
}
section article {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  mix-blend-mode: lighten;
}
section div {
  background: black;
  height: 25.3vw;
}
section div:nth-of-type(2) {
  grid-column: 2 / 4;
}

.show-item {
  flex: 0;
}

.mapboxgl-canvas {
  border: 6px solid var(--main-purple);
  border-radius: 10px;
}

nav {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
